.custom-card {
  padding: 18px 20px 18px 22px;
  background: #fff;
  border: 2px solid #E3E8EF;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px #1018280D;
  font-family: Inter, sans-serif;
}
.custom-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.custom-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}
.custom-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #101828;
}
.custom-card-icon {
  border: 1px solid #88E3C8;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-left: 12px;
}
.custom-card-value-row {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 4px;
}
.custom-card-value {
  font-weight: 700;
  font-size: 40px;
  color: #101828;
}
.custom-card-subtitle {
  font-weight: 500;
  font-size: 18px;
  color: #667085;
}
.custom-card-trend-row {
  display: flex;
  align-items: center;
  gap: 6px;
}
.custom-card-trend-up {
  color: #2E896E;
  font-weight: 500;
  font-size: 16px;
}
.custom-card-trend-desc {
  color: #667085;
  font-weight: 400;
  font-size: 16px;
}
